body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

a{
    text-decoration: none;
    color: aliceblue;

}

a:visited{
    text-decoration: none;
    
}

.title{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

title:visited{
    color: aliceblue;
}

.main{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10% ;
    flex-direction: row;
    display: flex;
    color: aliceblue;

}

.one{
    flex:1
}

.two{
    flex:1
}

.three{
    flex:1
}